* {
  box-sizing: border-box;
}

.row {
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.letter {
  border: 1px solid #000;
  border-radius: 9px;
  background: #eee;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter + .letter {
  margin-left: 8px;
}

.letter.letter-correct {
  background: rgb(210, 255, 210);
}
.letter.letter-inword {
  background: rgb(255, 255, 110);
}