* {
  box-sizing: border-box;
}

.game-wrapper {
  text-align: center;
}

#game-board {
  margin: 0 auto;
  max-width: 584px;
}

.debug-msg {
  color: rgb(255, 100, 0);
}

.row, #letters-guessed {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.row {
  margin-top: 8px;
}

.row.row-answer {
  margin-bottom: 32px;
}

.row.row-answer .letter {
  background: #888;
  color: #fff;
}

#letters-guessed:before {
  content: 'Letters Used:';
  display: block;
  width: 100%;
  flex-shrink: 0;
}

#letters-guessed {
  margin-top: 32px;
  flex-wrap: wrap;
}

.letter {
  border: 1px solid #000;
  border-radius: 9px;
  background: #eee;
  width: calc(100% / 5 - 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  
  /* trick to make it square */
  padding-bottom: calc((100% / 5 - 8px) / 2);
  padding-top: calc((100% / 5 - 8px) / 2);
  height: 0;
}

#letters-guessed .letter {
  height: 32px;
  width: 32px;
  margin: 4px;
  padding: 0;
  font-size: 18px;
}

.letter + .letter {
  margin-left: 8px;
}

@media screen and (min-width: 360px) {
  .letter {
    font-size: 22px;
  }
}

@media screen and (min-width: 420px) {
  .letter {
    font-size: 28px;
  }
}

@media screen and (min-width: 500px) {
  .letter {
    font-size: 36px;
  }
  .letter + .letter {
    margin-left: 16px;
  }
  .row {
    margin-top: 16px;
  }  
}

.letter.letter-correct {
  background: rgb(210, 255, 210);
}
.letter.letter-inword {
  background: rgb(255, 255, 110);
}