.playerHands {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.playerHands > li {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  background: #eee;
  border-radius: 11px;
}

.playerHands > li + li {
  margin-top: 16px;
}

.playerHand-cards {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.playerHand-cards > li {
  display: flex;
  flex-direction: column;
}

.playerHand-cards button {
  border: 1px solid #333;
  border-radius: 7px;
  background: #ccc;
  cursor: pointer;
  margin-top: 4px;
}

.playerHand-cards button:hover {
  background: #bbb;
}

.playerHand-cards > li + li {
  margin-left: 8px;
}
