.playerHands {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.playerHand {
  background: #eee;
  padding: 12px;
}

.playerHands ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playerHand.playerHand--active {
  border: 3px solid #bdb;
  background: #dfd;
}

.myHand {
  width: 75%;
}

.playerHands .opponentHands {
  padding: 8px;
  background: #ddd;
  margin-left: 32px;
  position: relative;
  text-align: center;
  width: 25%;
}

.opponentHands > li + li {
  margin-top: 16px;
}

.playerHand-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  border-radius: 11px;
}

.playerHand-cards > li {
  display: flex;
  flex-direction: column;
}

.playerHand-cards .playerHand-passButton {
  flex-basis: 100%;
  margin-bottom: 8px;
}

.playerHand-passButton button {
  align-self: center;
  padding: 4px 24px;
}

.playerHand-cards button {
  border: 1px solid #333;
  border-radius: 7px;
  background: #ccc;
  cursor: pointer;
  margin-top: 4px;
}

.playerHand-cards button:hover {
  background: #bbb;
}

.playerHand-cards > li {
  margin: 4px;
}
